{% extends "account/subnav_base.html" %}

{% load i18n %}

{% block body_class %}account{% endblock %}

{% block subnav %}
{% with request.resolver_match.url_name as url_name %}
<div class="settings-menu">
  <ul class="menu vertical">
    <li><a class="{% if url_name == 'account_settings' %}active{% endif %}" href="{% url 'account_settings' %}">
      <i class="fa fa-user"></i> <span>{{ _('Account') }}</span>
    </a></li>
    <li><a class="{% if url_name == 'account_password' %}active{% endif %}" href="{% url 'account_password' %}">
      <i class="fa fa-lock"></i> <span>{{ _('Change password') }}</span>
    </a></li>
    <li><a class="{% if url_name == 'account_social_accounts' %}active{% endif %}" href="{% url 'account_social_accounts' %}">
      <i class="fa fa-address-book"></i> <span>{{ _('Social accounts') }}</span>
    </a></li>
    <li><a class="{% if url_name == 'orders' %}active{% endif %}" href="{% url 'orders' %}">
      <i class="fa fa-list"></i> <span>{{ _('Orders') }}</span>
    </a></li>
    <li><a class="{% if url_name == 'account_delete' %}active{% endif %}" href="{% url 'account_delete' %}">
      <i class="fa fa-trash"></i> <span>{{ _('Delete account') }}</span>
    </a></li>

  </ul>
</div>
{% endwith %}
{% endblock %}
