{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block body_class %}account account-orders{% endblock %}

{% block head_title %}{{ _('Orders') }}{% endblock %}

{% block acc_body %}
<div class="row">
  <div class="small-12 columns text-center">
    <legend>{{ _('Orders') }}</legend>
    {% if orders %}
      <div class="emoji-banner"><img src="{% static 'libraries/emojione/png/64/1f924.png' %}"></img></div>
      <table>
        <tr>
          <td>Order Nr</td>
          <td>Order Date</td>
          <td>Status</td>
          <td>
            Actions
          </td>
        </tr>
        {% for o in orders %}
        <tr>
          <td>{{ o.id }}</td>
          <td>{{ o.order_date }}</td>
          <td>{{ o.get_status_display }}</td>
          <td>
            <a class="btn btn-primary" href="{% url 'order_detail' o.order_id %}">{{ _('Details') }}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <div class="emoji-banner"><img src="{% static 'libraries/emojione/png/64/1f914.png' %}"></img></div>
      <a href="{% url 'home' %}#products">{% trans "No orders yet... Click here to order some right now!" %}</a>
    {% endif %}
  </div>
</div>
{% endblock %}
