{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{{ _('Order details') }}{% endblock %}

{% block acc_body %}
<div class="row">
  <div class="small-12 columns">
    <h1>{{ _('Order Details') }}</h1>

    <div class="small-6 columns">
      <table>
        <tr>
          <th>{{ _('Picture') }}</th>
          <th>{{ _('Amount') }}</th>
          <th>{{ _('Product') }}</th>
          <th>{{ _('Price') }}</th>
        </tr>
        {% for o in order.orderlines.all %}
        <tr>
          <td>
            <img src="/media/{{ o.product.images.first.image }}" alt="{{ order.product.images.first.alt }}" class="order-picture" />
          </td>
          <td>{{ o.amount }}</td>
          <td>{{ o.product.name }}</td>
          <td>{{ o.product.price }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="small-6 columns">
      <table>
        <tr>
          <td>{{ _('Order nr.') }}</td>
          <td>{{ order.order_id }}</td>
        </tr>
        <tr>
          <td>{{ _('Status') }}</td>
          <td>{{ order.get_status_display }}</td>
        </tr>
        <tr>
          <td>{{ _('Order Date') }}</td>
          <td>{{ order.order_date }}</td>
        </tr>
        <tr>
          <td>{{ _('Payment Date') }}</td>
          <td>{{ order.payment_date }}</td>
        </tr>
        <tr>
          <td>{{ _('Shipping Date') }}</td>
          <td>{{ order.shipping_date }}</td>
        </tr>
        <tr>
          <td>{{ _('Tracking info') }}</td>
          <td>{{ order.tracking_number }}</td>
        </tr>
        <tr>
          <td>{{ _('Delivery Date') }}</td>
          <td>{{ order.delivery_date }}</td>
        </tr>

      </table>

      {% if order.status == 's' %}
        <a href="{% url 'confirm_received' order.order_id %}" class="btn">{{ _('Confirm order received') }}</a>
      {% endif %}
    </div>

    <div class="small-12 columns">
      <h1>{{ _('Dispute') }}</h1>
      {% for mes in order.dispute_messages.all %}
        {% if mes.user == user %}
        <div class="message">
        {% else %}
        <div class="reply">
        {% endif %}
        {{ mes.message }}
        </div>
      {% endfor %}

      {% if can_react %}
        <form method="POST" action="{% url 'order_detail' order.order_id %}">
          {% csrf_token %}
          {{ form.message }}
          <button class='btn' type='submit'>{{ _('Send dispute') }}</button>
        </form>
      {% else %}
        {{ _('Please await our reply') }}
      {% endif %}
    </div>


  </div>
  <div class="small-12 columns">
    <h1>{{ _('Status Log') }}</h1>
    <table>
      {% for sl in order.status_logs.all %}
        <tr>
          <td>{{ sl.status }}</td>
          <td>{{ sl.date }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endblock %}
