{% extends "play_base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{{ _('Bad token') }}{% endblock %}

{% block app_body %}
<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <legend>{{ _('Bad token') }}</legend>
    <div class="emoji-banner"><img src="{% static 'libraries/emojione/png/64/1f630.png' %}"></img></div>
    {% url "account_password_reset" as url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
