{% extends "play_base.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap %}
{% load account_tags %}

{% block head_title %}{{ _('Password reset') }}{% endblock %}

{% user_display request.user as user_display %}

{% block app_body %}
<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <form method="POST" action="">
      <legend>{{ _('Password reset') }}</legend>
      <div class="emoji-banner"><img src="{% static 'libraries/emojione/png/64/1f914.png' %}"></img></div>
      <p class="lead">
        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
      </p>
      <fieldset class="row">
        <div class="small-12 columns">
          {% csrf_token %}
          {{ form|bootstrap }}
          <button type="submit" class="btn btn-primary">{{ _('Reset my password') }}</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="small-12 medium-8 medium-offset-2 columns text-center">
    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
  </div>
  <div class="small-12 columns"></div>
</div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
