{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{{ _('Change password') }}{% endblock %}

{% block acc_body %}
<div class="row">
  <div class="small-12 large-8 large-offset-2 columns">
    <form method="POST" action="">
      <legend>{{ _('Change password') }}</legend>
      <div class="emoji-banner"><img src="{% static 'libraries/emojione/png/64/1f910.png' %}"></img></div>
      <fieldset>
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
