{% extends "play_base.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{{ _('Set your new password') }}{% endblock %}

{% block app_body %}
<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <form method="POST" action="{% url 'account_password_reset_token' uidb36=uidb36 token=token %}">
      <legend>{{ _('Set your new password') }}</legend>
      <div class="emoji-banner"><img src="{% static 'libraries/emojione/png/64/1f910.png' %}"></img></div>
      <fieldset>
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
