{% extends "play_base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{{ _('Sign up') }}{% endblock %}

{% block app_body %}
<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <legend>{{ _('This site is in private beta') }}</legend>
    <div class="emoji-banner"><img src="{% static 'libraries/emojione/png/64/1f60e.png' %}"></img></div>

    <p>{% blocktrans %}If you have a signup code, you can enter it below.{% endblocktrans %}</p>
    
    <form method="get" action="">
      <div><input type="text" name="code" placeholder="{% trans 'Your signup code...' %}" /></div>
      <div><input type="submit" class="btn btn-primary"></div>
    </form>
  </div>
</div>
{% endblock %}
