{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap %}
{% load social_tags %}
{% load custom_tags %}

{% block body_class %}account account-social{% endblock %}

{% block head_title %}{{ _('Social Accounts') }}{% endblock %}

{% block acc_body %}
<div class="row">
  <div class="small-12 large-8 large-offset-2 columns">
    <legend>{{ _('Social Connections') }}</legend>
    <div class="emoji-banner"><img src="{% static 'libraries/emojione/png/64/1f60d.png' %}"></img></div>
    {% for provider in backends.not_associated %}
      {% with providername=provider|cut:"-oauth2" %}
        <a class="btn btn-lg background_{{ providername }}" href="{% url 'social:begin' provider %}">Connect <i class="fa fa-{{ providername }}"></i> {{ providername.title }}</a>
      {% endwith %}
    {% endfor %}
    {% for auth in backends.associated %}
      {% with providername=auth.provider|cut:"-oauth2" %}
        {% user_can_disconnect auth as can_disconnect %}
        {% if can_disconnect %}
          <form method="post" action="{% url 'social:disconnect' auth.provider %}">
            {% csrf_token %}
            <button class="btn btn-danger">Disconnect <i class="fa fa-{{ providername }}"></i> {{ providername.title }}</button>
          </form>
        {% else %}
          <p class="lead">You must set a valid password before you can disconnect.</p>
        {% endif %}
      {% endwith %}
    {% endfor %}
  </div>
</div>
{% endblock %}
