{% load static %}

<section id='hero'>

  <video id='bgvid' loop muted autoplay class="fullscreen-bg__video" style="opacity: 0"></video>

  <div class="hero-img"></div>

  <div class="hero-overlay">
    <div class="intro-text">
      <div class="intro-text-inner">

        <div class="intro-lead-in">
          <h1>Build your own</h1>
          <h1>Social Robot</h1>
        </div>
      </div>
      <div class="div-pre-order">
        <a class="btn" data-open="preOrder">PRE-ORDER NOW</a>
      </div>
      <a href="#products" class="page-scroll">
        <div class="learn-more">
          <h6 class="center">learn more</h6>
          <div class="btn-learn-more center">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
