<section id="more" class="bar">
  <div class="row collapse">
    <article class="large-8 large-offset-2 columns">
      <h1>More than just a robot.</h1>
      <p>
        Build - Play - Learn. OPSORO is an open platform for creating social robots. It is a modular system that allows the building and programming of different robotic creatures that provide affective face-to-face communication. With the upcoming demand for
        social robots, OPSORO is there to help anyone build and program their own robot-friend.
      </p>
    </article>
  </div>
</section>

<section id="what" class="">

  <article class="row">
    <div class="large-2 medium-2 hide-for-small-only columns">
      <img class="icon" src="static/images/content/open.svg" alt="OPSORO shield" />
    </div>
    <div class="rectangle large-10 medium-10 small-12 columns">
      <h2 class="color_orange">OPSORO is OPEN.</h2>
      <p>
        Create your own modules, 3D-print a pair of extra eyes, adjust an app to your own needs,… that’s what we want to achieve with OPSORO. Go to our <a href="https://github.com/OPSORO/" target="_blank">Github</a> to download our sources. The platform
        consists of standard parts that can be bought in any DIY shop combined with adjustable parts that can be 3D-printed or laser-cut at home or in any local Fablab (find yours
        <a href="https://www.fablabs.io/labs/map" target="_blank">here</a>).
      </p>
    </div>
  </article>

  <article class="row">
    <div class="large-2 medium-2 hide-for-small-only columns">
      <img class="icon" src="static/images/content/skills.svg" alt="OPSORO shield" />
    </div>
    <div class="large-10 medium-10 small-12 columns">
      <h2 class="color_orange">OPSORO addresses YOUR SKILLS.</h2>
      <p>
        The modularity of OPSORO allows you to start small and expand in unlimited ways following your own imagination. You can use an OPSORO robot to learn how to code in a fun and interactive way, program the right scenario for your funny character, expand
        its capabilities to control the lights in your home or grab the latest jokes from your twitter feed. You can even expand the hardware with new sensors and motors implemented in your own designs.
      </p>
    </div>
  </article>

  <article class="row">
    <div class="large-2 medium-2 hide-for-small-only columns">
      <img class="icon" src="static/images/content/plant.svg" alt="OPSORO shield" />
    </div>
    <div class="large-10 medium-10 small-12 columns">
      <h2 class="color_orange">OPSORO grows WITH YOU.</h2>
      <p>
        Beginners can start straight away building the starters-kit, following the basic instructions and program the robot’s behaviour with an easy scenario editor. Soon enough you will be able to visually program your own robot and assemble the modules. Write
        your first lines of lua-code and assemble your own modules. Become an advanced OPSORO developer and write your own apps in Python or even design a new set of special eye-modules that can be 3D-printed or lasered. All this is supported and shared
        within the online OPSORO community.
      </p>
    </div>
  </article>
</section>
