{% load static %}

<h1>The goods</h1>

<section id="products" class="row collapse" data-equalizer>
{% for p in products %}
<div id="product{{ p.id }}" class="large-4 columns">
  <div class="card color_orange">
   <img src="/media/{{ p.images.first.image }}" alt="{{ i.alt }}" />
    <div class="description" data-equalizer-watch>
      <div class="feature">
        <span class="fa fa-trophy"></span> {{ p.slogan }}<br>
      </div>

      <h1>{{ p.name }}</h1>
      <div class="pricing">€ {{ p.price }}</div>

      <ul class="fa-ul">
        {% for sp in p.specs.all %}
          <li><i class="fa-li fa fa-asterisk"></i>{{ sp.spec }}</li>
        {% endfor %}
      </ul>
    </div>
    <a data-open="orderOne" onClick=buyProduct({{ p.id }}) class="button">Order</a>
  </div>
</div>
{% endfor %}
</section>
