{% load static %}

<section id="products" class="row collapse" data-equalizer="products">

  {% for p in products %}
  <div id="product{{ p.id }}" class="small-12 large-4 columns">
    {% if p.id|divisibleby:3 %}
    <div class="card color_green">
      {% elif p.id|divisibleby:2 %}
      <div class="card color_red">
        {% else %}
        <div class="card color_orange">
          {% endif %}

          <div class="placeholder" data-large="{{ p.images.first.image.medium.url }}">
            <img src="{{ p.images.first.image.preload.url }}" class="img-small" alt="{{ i.alt }}">
            <div style="padding-bottom: 66.6%;"></div>
          </div>

          <div class="description" data-equalizer-watch="products">
            <h1>{{ p.name }}</h1>
            <ul class="fa-ul">
              {% for sp in p.specs.all %}
              <li><i class="fa-li fa fa-asterisk"></i>{{ sp.spec }}</li>
              {% endfor %}
            </ul>

            <div class="extra-description">
              {% if p.slogan %}
              <p>
                <b>Who buys this?</b><br /> {{ p.slogan }}
              </p>
              {% endif %}
            </div>
          </div>
          <div class="pricing">
            <div class="est-price">
              <span>est.</span> € {% if p.price >= 0 %} {{p.price}} {% else %} N.A. {% endif %}
            </div>
            <a data-open="preOrderOne" onClick=preOrderProduct({{ p.id }}) class="button">pre-order</a>
          </div>
        </div>
      </div>
      {% endfor %}
</section>
