{% load static %}

<section id="testimonials" class="bar">
  <div class="testimonials_slider">

    <div>
      <img src="{% static 'images/content/testimonials/tony_belpaeme.jpg' %}">
      <div class="testimonial">
        <div class="quote">&ldquo;What really struck me was the potential for research posibilities and use as an educational tool&rdquo;</div>
        <span class="attribution">
          Tony Belpaeme<br>
          Professor Robotics, Ghent & Plymouth University
        </span>
      </div>
    </div>

    <div>
      <img src="{% static 'images/content/testimonials/matthias_rehm.jpg' %}">
      <div class="testimonial">
        <div class="quote">&ldquo;It’s the ideal toolbox for our work with special-needs users because we can literally build and rebuild working prototypes in minutes.&rdquo;</div>
        <span class="attribution">
          Matthias Rehm<br>
          Professor Robotics, Aalborg University
        </span>
      </div>
    </div>

    <div>
      <img src="{% static 'images/content/testimonials/claudia_eeckhout.jpg' %}">
      <div class="testimonial">
        <div class="quote">&ldquo;It’s a perfect tool for our students to learn and develop towards the world of tomorrow…and it’s fun!&rdquo;</div>
        <span class="attribution">
          Claudia Eeckhout<br>
          Lecturer New Media and Communication Technology, University College West Flanders
        </span>
      </div>
    </div>

  </div>
</section>
