{% extends "site_base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Home" %}{% endblock %}
{% block body_class %}shop{% endblock %}

{% block default_app_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'libraries/slick/css/slick.css' %}"/>
	<link rel='stylesheet' href='{% static 'css/opsoroShop.min.css' %}'/>

{% endblock %}

{% block body %}
	<div class="hero">
		{% include "_hero.html" %}
	</div>
	<div class="products">
		{% include "_productsPreKickstart.html" %}
	</div>
	<div class="info">
		{% include "_info.html" %}
	</div>
	<div class="testimonials">
		{% include "_testimonials.html" %}
	</div>
	<div class="tune-in">
		{% include "_tune_in.html" %}
	</div>

{% endblock %}

{% block default_app_scripts %}
	<script type="text/javascript" src="{% static 'libraries/slick/js/slick.min.js' %}"></script>
	<script src='{% static 'js/opsoroShop.js' %}'></script>
	<!-- <script src="https://checkout.stripe.com/checkout.js"></script> -->
	<!-- <script src='{% static 'js/opsoroStripe.js' %}'></script> -->
{% endblock %}

{% block app_modals %}
{% include "_modalsShop.html" %}
{% endblock %}
