{% load static %}

<!-- <script src="{% static 'js/site-5e73bbeeb0.js' %}"></script> -->

<!-- Used for clearing announcements, etc... -->
<script src="{% static 'libraries/eldarion-ajax/js/eldarion-ajax.min.js' %}"></script>

<script src="{% static 'libraries/knockout/js/knockout-3.4.0.js' %}"></script>
<script src="{% static 'libraries/knockout/js/knockout-slider-binding.js' %}"></script>

<script src="{% static 'libraries/foundation/js/vendor/what-input.js' %}"></script>
<script src="{% static 'libraries/foundation/js/vendor/foundation.min.js' %}"></script>
<script src="{% static 'js/opsoro.js' %}?v=002"></script>
