{% load i18n %}
{% if request.user.is_authenticated %}
<div class="feedback">
  <a id="feedback_bug_button" class="btn circle feedback_button background_red_dark" title="{{ _('Report a bug') }}" data-open="feedbackForm"><span class="fa fa-bug"></span></a>
  <a id="feedback_idea_button" class="btn circle feedback_button background_blue" title="{{ _('Submit an idea') }}" data-open="feedbackForm"><span class="fa fa-lightbulb-o"></span></a>
</div>
<div id="feedbackFormContainer" class="small reveal modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
</div>

<script>
var $modal = $('#feedbackFormContainer');
loadModal = function(title, category) {
  $.ajax('{% url "play:feedback" %}')
    .done(function(resp){
      $modal.html(resp).foundation('open');
      $('#id_page').val(window.location.href);
      $('#id_category').val(category);
      $('#modalTitle').html(title)
      $("#feedback_form").submit(function(event) {
        $.ajax({ // create an AJAX call...
          data: $(this).serialize(), // get the form data
          type: $(this).attr('method'), // GET or POST
          url: $(this).attr('action'), // the file to call
          success: function(data) { // on success..
            $('.reveal-order-content').html(data['message']); // update the DIV
          }
        });
        return false;
      });
  });
}
$('#feedback_bug_button').click(function(){
  loadModal('Report a bug', 'B');
});
$('#feedback_idea_button').click(function(){
  loadModal('Submit an idea', 'I');
});
</script>
{% endif %}
