

<header id="header_main" class="on-top">
  <nav>
    <div class="navLinksHamburger">
      <a class="nav-link-home" href="{% url 'home' %}">{{ _('Home') }}</a>
      <a class="page-scroll" onclick="openNav()" href="{% url 'home' %}#products">{{ _('Pre-Order') }}</a>
      <a class="nav-link-play" href="{% url 'play:apps' %}">{{ _('Play') }}</a>
    </div>

    <a href="https://www.opsoro.be/">
      <div class="logo columns"></div>
    </a>

    <div class="navLinks">
      <a class="nav-link-home" href="{% url 'home' %}">{{ _('Home') }}</a>
      <a class="page-scroll" href="{% url 'home' %}#products">{{ _('Pre-Order') }}</a>
      <a class="nav-link-play" href="{% url 'play:apps' %}">{{ _('Play') }}</a>
    </div>

    <a class="hamburger" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></a>

  </nav>
</header>

<script>
//NAV HAMBURGER OPENEN
function openNav() {
  if ($('.navLinksHamburger').css('display') == 'none') {
    $('.navLinksHamburger').css('display', 'block');
  } else {
    $('.navLinksHamburger').css('display', 'none');
  }
}
$(window).on('resize', function() {
  $('.navLinksHamburger').css('display', 'none');
});
</script>
