{% load static %}
<!-- <script src="{% static 'js/robot/modules.js' %}"></script>
<div id="virtualModelDiv" style="z-index: 8; position: relative; display: block; width: 100%; max-width: 32rem; margin-left:auto; margin-right: auto;">
	<div id="model_screen"></div>
	<div id="speech"></div>
</div>

<script>
	config_data = {{ config | safe }};
</script> -->
<!-- <script src="{% static 'js/vendor/jquery.js' %}"></script> -->

<!-- <script src="{% static 'libraries/svg/js/svg.min.js' %}"></script>
<script src="{% static 'js/robot/virtual.js' %}"></script> -->
