{% extends "play_base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}
  {% block error_title %}{{ _('Error page') }}{% endblock %}
{% endblock %}

{% block topbar_base %}
	{% include "_header_main.html" %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns text-center">
      <legend>{% block error_legend %}{{ _('Error page') }}{% endblock %}</legend>
      <div class="emoji-banner"><img src="{% static 'libraries/emojione/png/128/' %}{% block error_emoji %}1f914{% endblock %}.png"></img></div>
      <p>{% block error_text %}{% endblock %}</p>
  </div>
</div>
{% endblock %}
