{% extends "site_base.html" %}

{% block head_title %}File{% endblock %}

{% block body_class %}file{% endblock %}

{% block app_body %}

	<section class="file">
		<div class="">
			{% if file_obj %}
				<div class="">
					<h5>{{ file_obj.name }}{{ file_obj.extension}}</h5>
					{% if file_obj.file_type == "DOC" %}
						<div class="doc">{{ file_obj.display_text_file }}</div>
					{% elif file_obj.file_type == "PIC" %}
						<div class="pic">
							<img src="{{ file_obj.data.url }}" name="{{ file_obj.name }}"></img>
						</div>
					{% else %}
						<div class="mus">
							<audio controls>
								<source src="{{ file_obj.data.url }}">
								{{ _('Your browser does not support the audio element.') }}'
							</audio>
						</div>
					{% endif %}
				</div>
			{% else %}
				<h2>{{ _('No file available.') }}'</h2>
			{% endif %}
		</div>
	</section>

{% endblock %}
{% block app_toolbar %}{% endblock %}

{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}
