.background_green {
  background-color: #00E58B !important; }

.background_green_dark {
  background-color: #22774D !important; }

.background_blue {
  background-color: #0095FF !important; }

.background_orange {
  background-color: #FFAF19 !important; }

.background_red {
  background-color: #FF517E !important; }

.background_red_dark {
  background-color: #DF212E !important; }

.background_yellow {
  background-color: #FFF222 !important; }

.background_gray_light {
  background-color: #C7C8C9 !important; }

.background_gray {
  background-color: #DDD !important; }

.background_gray_dark {
  background-color: #313334 !important; }

.background_gray_darker {
  background-color: #1C1D1D !important; }

.background_google {
  background: #dd4b39 !important; }

.background_facebook {
  background: #3b5998 !important; }

.background_twitter {
  background: #00aced !important; }

.background_github {
  background: #313334 !important; }

.background_instagram {
  background: #bc2a8d !important; }

.background_youtube {
  background: #bb0000 !important; }

.color_green {
  color: #00E58B; }

.color_blue {
  color: #0095FF; }

.color_orange {
  color: #FFAF19; }

.color_red {
  color: #FF517E; }

.color_yellow {
  color: #FFF222; }

.color_gray_light {
  color: #C7C8C9; }

.color_gray_dark {
  color: #313334; }

.color_white {
  color: #FFF; }

.color_purple {
  color: #8200E5; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'EmojiOne';
  src: url("../libraries/emojione/fonts/emojione-svg.woff2") format("woff2"), url("../libraries/emojione/fonts/emojione-svg.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Awesome';
  src: url("../libraries/font-awesome/fonts/fontawesome-webfont.woff2") format("woff2"), url("../libraries/font-awesome/fonts/fontawesome-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(0.8); } }

a {
  outline: 0; }

svg {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */ }

iframe {
  border-style: solid;
  border-style: none;
  border-radius: 1rem;
  border-color: #C7C8C9;
  border-width: 1px; }

.wrapper {
  min-height: calc(100vh - 6.5rem); }

.tabs {
  width: 100% !important;
  max-width: 100% !important; }
  .tabs .tab-title > a {
    padding: 1rem; }

.tabs-content .content {
  padding-top: 0; }

.online {
  color: #00E58B; }

.offline {
  color: #FF517E; }

#header_main, #header_main.on-top {
  background-color: #313334 !important; }
  #header_main nav div a, #header_main.on-top nav div a {
    color: #FFF; }
    #header_main nav div a.nav-link-play, #header_main.on-top nav div a.nav-link-play {
      color: #0095FF; }
  #header_main nav .logo, #header_main.on-top nav .logo {
    background-image: url("../images/logo/opsoro_icon_light.png") !important; }

#header_play {
  position: relative;
  max-width: 75rem;
  margin: 1rem auto .5rem;
  background-color: #F2F2F2;
  color: #313334;
  padding: 0.2rem 1.4rem 0;
  z-index: 8;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  border-radius: 2.5rem; }
  #header_play div {
    padding: 0; }
  #header_play .search {
    padding-left: 3rem; }
    #header_play .search input[type=text] {
      font-weight: bold;
      font-size: 1rem;
      height: 2.6rem;
      background-color: #FFF;
      border: none;
      padding-left: 1rem;
      margin-top: 0.5rem;
      color: #313334;
      -webkit-border-radius: 1.3rem;
      -moz-border-radius: 1.3rem;
      border-radius: 1.3rem;
      max-width: 20rem;
      float: none;
      margin-left: auto;
      margin-right: auto; }
      #header_play .search input[type=text]::-webkit-input-placeholder {
        color: #313334; }
      #header_play .search input[type=text]:-moz-placeholder {
        color: #313334; }
      #header_play .search input[type=text]::-moz-placeholder {
        color: #313334; }
      #header_play .search input[type=text]:-ms-input-placeholder {
        color: #313334; }
      #header_play .search input[type=text]:focus {
        box-shadow: none;
        background-color: #C7C8C9; }
        #header_play .search input[type=text]:focus::-webkit-input-placeholder {
          color: #313334; }
        #header_play .search input[type=text]:focus:-moz-placeholder {
          color: #313334; }
        #header_play .search input[type=text]:focus::-moz-placeholder {
          color: #313334; }
        #header_play .search input[type=text]:focus:-ms-input-placeholder {
          color: #313334; }
  #header_play .icon {
    float: left; }
  #header_play p {
    line-height: normal;
    float: left;
    padding: 0; }
  #header_play ul {
    text-align: right;
    margin: 0; }
    #header_play ul li {
      margin: 0;
      list-style-type: none;
      display: inline-block; }
  #header_play .icon {
    margin: 0.6rem 0.5rem 0 0;
    font-size: 2.4rem; }
  #header_play #status {
    text-transform: uppercase;
    font-weight: bold; }
  #header_play #comment .icon {
    margin: 0.1rem 0.2rem 0 0;
    font-size: 1.1rem; }
  #header_play a {
    margin: 0;
    padding: 0;
    color: #313334; }
    #header_play a .icon {
      margin: 0.6rem 0 0.5rem 1rem;
      font-size: 2.3rem; }
    #header_play a:hover {
      color: #000; }
  #header_play .status {
    margin: 0.5rem 0; }

.row {
  max-width: 100%; }

.container {
  position: relative;
  max-width: 75rem;
  margin-top: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0; }

.apps-preview {
  max-width: 100%;
  padding: 0; }
  .apps-preview .row {
    margin: 2rem auto;
    padding: 0;
    background-color: #FFF;
    -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    border-radius: 0.7rem; }
    .apps-preview .row .columns {
      padding: 0; }
      .apps-preview .row .columns .placeholder {
        margin: 1rem 0; }
      .apps-preview .row .columns img {
        -webkit-border-radius: 0.7rem;
        -moz-border-radius: 0.7rem;
        border-radius: 0.7rem; }
      .apps-preview .row .columns h2 {
        margin: 2rem 1rem; }
      .apps-preview .row .columns p {
        margin: 1rem; }

.apps {
  max-width: 100%;
  margin: auto;
  margin-left: auto;
  padding: 0; }
  .apps .app-category {
    position: relative;
    margin: 2rem 1rem;
    display: block;
    width: 100%; }
    .apps .app-category h3 {
      margin: 1rem 0 0;
      font-size: 1.3rem; }
  .apps .app-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    margin: .8rem .8rem 0 0; }
    .apps .app-container .app-button {
      margin: 0;
      text-align: left;
      width: 11rem;
      height: 11rem;
      padding: 3.8rem 1rem 1rem;
      background-color: #C7C8C9;
      -webkit-border-radius: 0.7rem;
      -moz-border-radius: 0.7rem;
      border-radius: 0.7rem;
      vertical-align: text-bottom; }
      .apps .app-container .app-button:hover {
        text-decoration: none; }
        .apps .app-container .app-button:hover .app-icon {
          font-size: 2.5rem;
          right: .95rem;
          top: .95rem; }
      .apps .app-container .app-button .app-icon {
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;
        text-align: right;
        color: #FFF !important;
        font-size: 2rem;
        display: block;
        height: 3rem;
        padding: 0;
        margin: 0; }
      .apps .app-container .app-button .app-label {
        display: table-cell;
        width: 100%;
        height: 4rem;
        color: #FFF;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: left;
        line-height: 2rem;
        overflow: hidden;
        vertical-align: bottom; }
      .apps .app-container .app-button .app-banner {
        position: absolute;
        display: inline-block;
        bottom: 0rem;
        left: 0rem;
        padding: 0 .7rem;
        background-color: rgba(0, 0, 0, 0.15);
        color: #FFF;
        width: 100%;
        height: 2.3rem;
        -webkit-border-bottom-left-radius: 0.7rem;
        -webkit-border-bottom-right-radius: 0.7rem;
        -moz-border-radius-bottomleft: 0.7rem;
        -moz-border-radius-bottomright: 0.7rem;
        border-bottom-left-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        font-size: .7rem;
        font-weight: normal; }
        .apps .app-container .app-button .app-banner .app-beat {
          animation: beat 0.5s infinite alternate;
          transform-origin: center; }
        .apps .app-container .app-button .app-banner .app-opsoro {
          display: inline-block;
          width: 2.1rem;
          height: 1.8rem;
          margin: .25rem 0; }
        .apps .app-container .app-button .app-banner .app-by {
          display: inline-block;
          margin: .8rem 0; }
        .apps .app-container .app-button .app-banner .app-author {
          font-weight: bold;
          display: inline-block;
          margin: .8rem 0; }
        .apps .app-container .app-button .app-banner .app-status {
          display: inline-block;
          float: right;
          margin: .65rem 0; }
          .apps .app-container .app-button .app-banner .app-status * {
            display: inline-block;
            vertical-align: middle;
            font-size: 1rem; }

.app-content-placeholder {
  text-align: center;
  font-size: 4rem; }

.reveal {
  position: absolute;
  left: 0;
  right: 0;
  top: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  color: #4d4d4d;
  border: 0;
  border-radius: 0.75rem;
  background: #FFF;
  -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  border-radius: 0.7rem; }
  .reveal .titlebar {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    padding: 0.5rem;
    text-align: center;
    color: #313334;
    background: #FFF; }
    .reveal .titlebar.red {
      border-bottom: 0.25rem solid #79261d;
      background: #DF212E; }
    .reveal .titlebar.green {
      border-bottom: 0.25rem solid #26791d;
      background: green_dark; }
  .reveal .content {
    padding: 1rem; }
  .reveal .close-button {
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    color: #313334; }
    .reveal .close-button:hover {
      font-size: 2.5rem;
      top: 0.25rem;
      right: 0.75rem; }
  .reveal .big-button {
    width: 7rem;
    height: 7rem;
    background-color: #C7C8C9;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    border-radius: 0.7rem; }
    .reveal .big-button .icon {
      color: #1C1D1D !important;
      font: "Awesome";
      font-size: 3rem;
      display: inline-block;
      width: 100%;
      margin: 0.5rem auto; }
    .reveal .big-button .text {
      color: #FFF;
      font-weight: normal;
      overflow: hidden;
      width: 100%;
      text-align: center; }
    .reveal .big-button:hover {
      text-decoration: underline;
      color: #1C1D1D !important; }
      .reveal .big-button:hover .app-icon {
        color: #1C1D1D !important;
        font-size: 4rem;
        margin: 0 auto; }

.actionbar {
  max-width: 75rem;
  min-height: 4rem;
  margin: 0 auto;
  padding: 0.5rem 1.5rem 0.3rem;
  color: #FFF;
  background: #DDD;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  border-radius: 2.5rem; }
  .actionbar .columns {
    padding: 0; }
  .actionbar .action {
    display: inline-block;
    min-width: 3rem;
    padding: 0 0.5rem;
    text-align: center;
    color: #FFF;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem; }
    .actionbar .action .text {
      color: #FFF;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase; }
  .actionbar .action.active,
  .actionbar .action:hover {
    color: #F2F2F2; }
  .actionbar .icon {
    color: #FFF;
    vertical-align: top;
    display: inline-block;
    font-size: 3rem;
    margin: 0 0.8rem 0 0; }
  .actionbar .spacer {
    display: inline-block;
    width: 2rem;
    margin: 0;
    padding: 0.5rem; }
  .actionbar .filebox {
    display: inline-block;
    overflow: hidden;
    min-width: 7rem;
    max-width: 20rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFF; }
    .actionbar .filebox .filename {
      font-weight: bold;
      text-transform: uppercase; }
    .actionbar .filebox .status {
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase; }
  .actionbar:empty {
    display: none; }

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  padding: 0;
  margin: 0;
  z-index: 9; }
  .fullscreen .contentwrapper {
    height: calc(100vh - 4rem - 4.15rem); }
  .fullscreen .console {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .fullscreen .actionbar {
    margin: 0;
    border-radius: 0; }
  .fullscreen .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100%; }
  .fullscreen .actionbar {
    max-width: 100%; }

.filebrowser {
  position: fixed;
  bottom: 3rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */ }
  .filebrowser .content {
    position: absolute;
    top: 4rem;
    bottom: 0;
    width: 100%;
    padding: 0; }
  .filebrowser .actionbar .actionBarItem {
    position: relative;
    float: left;
    min-width: 4rem; }
  .filebrowser .foldercontent {
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding: 0 1rem 1rem; }
    .filebrowser .foldercontent .browseritem {
      width: 100%;
      text-align: left;
      margin: 0;
      padding: 0.2rem 1rem;
      border-radius: 0.25rem;
      background-color: #FFF;
      color: #1C1D1D;
      overflow-x: hidden;
      white-space: nowrap; }
      .filebrowser .foldercontent .browseritem:hover .browseritemname {
        color: #00E58B; }
      .filebrowser .foldercontent .browseritem:hover .browseritemoptions {
        opacity: 1; }
      .filebrowser .foldercontent .browseritem .icon {
        vertical-align: middle;
        color: #00E58B;
        font-size: 1.5rem; }
      .filebrowser .foldercontent .browseritem .browseritemname {
        color: #313334;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 1rem;
        overflow-x: hidden; }
      .filebrowser .foldercontent .browseritem .browseritemoptions {
        float: right;
        padding: 0.15rem;
        -webkit-transition: opacity 0.1s ease-in-out;
        -moz-transition: opacity 0.1s ease-in-out;
        transition: opacity 0.1s ease-in-out;
        opacity: 0; }
        .filebrowser .foldercontent .browseritem .browseritemoptions .button {
          color: #C7C8C9;
          background-color: transparent;
          margin: 0;
          padding: 0;
          font-size: 1rem; }
          .filebrowser .foldercontent .browseritem .browseritemoptions .button:hover {
            color: #000; }

#message_popup .content .buttons {
  position: relative;
  text-align: center; }
  #message_popup .content .buttons .button {
    margin-right: 1rem;
    margin-left: 1rem; }

.clickedit span {
  font-size: 1.4rem; }

.clickedit span.fa-pencil {
  margin-left: 0.2rem;
  display: none;
  color: #888; }

.clickedit input {
  height: 2.1rem; }

.clickedit:hover span.fa-pencil {
  display: inline; }

.draggable {
  cursor: move; }

.selected_module path,
.selected_module rect {
  stroke: #FFCE39 !important; }

.settings-menu {
  margin: 0 auto 2rem; }
  .settings-menu li {
    margin: .2rem auto; }
    .settings-menu li a {
      padding: .7rem 1.5rem;
      -webkit-border-radius: 1.5rem;
      -moz-border-radius: 1.5rem;
      border-radius: 1.5rem;
      color: #1C1D1D;
      background-color: #F2F2F2; }
      .settings-menu li a:hover {
        color: #1C1D1D;
        background-color: #C7C8C9; }
      .settings-menu li a.active {
        color: #1C1D1D;
        background-color: #C7C8C9; }
