// Compile this!
// @import 'font-awesome/font-awesome';
@import 'opsoro/colors';
@import 'opsoro/fonts';
@import 'opsoro/mixins';
@import 'opsoro/animations';

a {
  outline: 0;
}

svg {
  @include no_selection();
}

iframe {
  border-style: solid;
  border-style: none;
  border-radius: 1rem;
  border-color: color(gray_light);
  border-width: 1px;
}

.wrapper {
  min-height: calc(100vh - 6.5rem);
}

.tabs {
  width: 100% !important;
  max-width: 100% !important;

  .tab-title {
    // border-width: 1px;
    // border-style: solid;
    > a {
      padding: 1rem;
    }
  }
}
//

.tabs-content {
  .content {
    padding-top: 0;
  }
}

.online {
  color: color(green);
}

.offline {
  color: color(red);
}
// ---------------------------------------------------------------------------------------------------------------------------
#header_main, #header_main.on-top {
  position: relative;
  background-color: color(gray_dark) !important;

  nav {
    div a {
      color: color(white);

      &.nav-link-play {
        color: color(header_active);
      }
    }

    .logo {
      background-image: url("../images/logo/opsoro_icon_light.png") !important;
    }
  }
}

#header_play {
  position: relative;
  // overflow: hidden;
  max-width: 75rem;
  // height: 4rem;
  margin: 1rem auto .5rem;
  background-color: color(statusbar_background);
  color: color(statusbar_text);
  padding: 0.2rem 1.4rem 0;
  z-index: 8;
  @include round-corners(2.5rem);
  // -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .75);
  // -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .75);
  // box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .75);
  // @include shadow();
  div {
    padding: 0;
  }

  .search {
    padding-left: 3rem;
    input[type=text] {
      font-weight: bold;
      font-size: 1rem;
      height: 2.6rem;
      background-color: color(white);
      border: none;
      padding-left: 1rem;
      margin-top: 0.5rem;
      color: color(gray_dark);
      @include placeholder {
        color: color(gray_dark);
      }
      @include round-corners(1.3rem);
      max-width: 20rem;
      float: none;
      margin-left: auto;
      margin-right: auto;

      &:focus {
        box-shadow: none;
        background-color: color(gray_light);
        @include placeholder {
          color: color(gray_dark);
        }
      }
    }
  }

  .icon {
    float: left;
  }

  p {
    line-height: normal;
    float: left;
    padding: 0;
  }

  ul {
    text-align: right;
    margin: 0;

    li {
      margin: 0;
      list-style-type: none;
      display: inline-block;
      // margin-left: 1.5rem;
      &:last-child {
        .icon {
          // margin-right: 0;
        }
      }
    }
  }

  .icon {
    margin: 0.6rem 0.5rem 0 0;
    font-size: 2.4rem;
  }

  #status {
    text-transform: uppercase;
    font-weight: bold;
  }

  #comment {
    .icon {
      margin: 0.1rem 0.2rem 0 0;
      font-size: 1.1rem;
    }
  }

  a {
    // display: block;
    // width: 3rem;
    // height: 3rem;
    // display: inline;
    margin: 0;
    padding: 0;
    color: color(statusbar_text);

    .icon {
      margin: 0.6rem 0 0.5rem 1rem;
      font-size: 2.3rem;
    }

    &:hover {
      color: color(statusbar_text_hover);
    }
  }

  .status {
    margin: 0.5rem 0;
  }
}

.row {
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 75rem;
  margin-top: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0;
}

.apps-preview {
  max-width: 100%;
  padding: 0;

  .row {
    margin: 2rem auto;
    padding: 0;
    background-color: color(white);
    @include light-shadow();
    @include round-corners(rounding(small));

    .columns {
      padding: 0;

      .placeholder {
        margin: 1rem 0;
      }
      img {
        @include round-corners(rounding(small));
      }

      h2 {
        margin: 2rem 1rem;
      }
      p {
        margin: 1rem;
      }
    }

  }


}

.apps {
  max-width: 100%;
  margin: auto;
  margin-left: auto;
  padding: 0;

  .app-category {
    position: relative;
    margin: 2rem 1rem;
    display: block;
    width: 100%;

    h3 {
      margin: 1rem 0 0;
      font-size: 1.3rem;
    }
  }

  .app-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    margin: .8rem .8rem 0 0;

    .app-button {
      margin: 0;
      text-align: left;
      width: 11rem;
      height: 11rem;
      padding: 3.8rem 1rem 1rem;
      background-color: color(button_background);
      @include round-corners(rounding(app));
      vertical-align: text-bottom;

      &:hover {
        text-decoration: none;
        .app-icon {
          font-size: 2.5rem;
          right: .95rem;
          top: .95rem;
        }
      }

      .app-icon {
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;
        text-align: right;
        color: color(app_icon) !important;
        font-size: 2rem;
        display: block;
        height: 3rem;
        padding: 0;
        margin: 0;
      }

      .app-label {
        display: table-cell;
        width: 100%;
        height: 4rem;
        color: color(app_text);
        font-size: 1.2rem;
        font-weight: bold;
        text-align: left;
        line-height: 2rem;
        overflow: hidden;
        vertical-align: bottom;
      }

      .app-banner {
        position: absolute;
        display: inline-block;
        bottom: 0rem;
        left: 0rem;
        padding: 0 .7rem;
        background-color: rgba(0, 0, 0, .15);
        color: color(app_icon);
        width: 100%;
        height: 2.3rem;

        @include round-corners-bottom(rounding(app));

        font-size: .7rem;
        font-weight: normal;

        .app-beat {
          @include heartbeat(speed(fast));
        }

        .app-opsoro {
          display: inline-block;
          width: 2.1rem;
          height: 1.8rem;
          margin: .25rem 0;
        }

        .app-by {
          display: inline-block;
          margin: .8rem 0;
        }

        .app-author {
          font-weight: bold;
          display: inline-block;
          margin: .8rem 0;
        }

        .app-status {
          display: inline-block;
          float: right;
          margin: .65rem 0;

          * {
            display: inline-block;
            vertical-align: middle;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.app-content-placeholder {
  text-align: center;
  font-size: 4rem;
}

.reveal {
  position: absolute;
  left: 0;
  right: 0;
  top: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  color: #4d4d4d;
  border: 0;
  border-radius: 0.75rem;
  background: color(white);
  @include light-shadow();
  @include round-corners(rounding(small));

  .titlebar {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    padding: 0.5rem;
    text-align: center;
    color: color(reveal_text);
    // border-bottom: 0.25rem solid #545454;
    // -webkit-border-top-left-radius: 0.5rem;
    // -moz-border-radius-topleft: 0.5rem;
    // border-top-left-radius: 0.5rem;
    // -webkit-border-top-right-radius: 0.5rem;
    // -moz-border-radius-topright: 0.5rem;
    // border-top-right-radius: 0.5rem;
    background: color(reveal_background);

    &.red {
      border-bottom: 0.25rem solid #79261d;
      background: color(reveal_red);
    }

    &.green {
      border-bottom: 0.25rem solid #26791d;
      background: color(reveal_green);
    }
  }

  .content {
    padding: 1rem;
  }

  .close-button {
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: 0.5rem;
    // right: auto;
    right: 1rem;
    cursor: pointer;
    color: color(reveal_text);

    &:hover {
      font-size: 2.5rem;
      top: 0.25rem;
      right: 0.75rem;
    }
  }

  .big-button {
    width: 7rem;
    height: 7rem;
    background-color: color(button_background);
    @include round-corners(rounding(small));

    .icon {
      color: color(button_icon) !important;
      font: font(awesome);
      font-size: 3rem;
      display: inline-block;
      width: 100%;
      margin: 0.5rem auto;
    }

    .text {
      color: color(white);
      font-weight: normal;
      overflow: hidden;
      width: 100%;
      text-align: center;
    }

    &:hover {
      text-decoration: underline;
      color: color(button_text) !important;

      .app-icon {
        color: color(button_icon) !important;
        font-size: 4rem;
        margin: 0 auto;
      }
    }
  }
}

.actionbar {
  max-width: 75rem;
  min-height: 4rem;
  margin: 0 auto; // 1rem;
  padding: 0.5rem 1.5rem 0.3rem;
  color: color(actionbar_text);
  background: color(actionbar_background);
  // @include round-corners(rounding(all));
  @include round-corners(2.5rem);

  .columns {
    padding: 0;
  }

  .action {
    display: inline-block;
    min-width: 3rem;
    padding: 0 0.5rem;
    text-align: center;
    color: color(actionbar_text);
    // float: right;
    @include round-corners(rounding(micro));

    .text {
      color: color(actionbar_text);
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .action.active,
  .action:hover {
    color: color(actionbar_text_hover);
    // background: #fff;
  }

  .icon {
    color: color(actionbar_text);
    vertical-align: top;
    display: inline-block;
    font-size: 3rem;
    margin: 0 0.8rem 0 0;
  }

  .spacer {
    display: inline-block;
    width: 2rem;
    margin: 0;
    padding: 0.5rem;
  }

  .filebox {
    display: inline-block;
    overflow: hidden;
    min-width: 7rem;
    max-width: 20rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: color(actionbar_text);

    .filename {
      font-weight: bold;
      text-transform: uppercase;
    }

    .status {
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &:empty {
    display: none;
  }
}

// .contentwrapper {
// //   // font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
//   border-style: solid;
//   border-color: color(gray_light);
//   border-width: 1px;
//   @include round-corners(rounding(small));
// }

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: color(white);
  padding: 0;
  margin: 0;
  z-index: 9;

  .contentwrapper {
    height: calc(100vh - 4rem - 4.15rem);
  }

  .console {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .actionbar {
    margin: 0;
    border-radius: 0;
  }

  .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .actionbar {
    max-width: 100%;
  }
}

.filebrowser {
  position: fixed;
  bottom: 3rem;
  @include no_selection();

  .content {
    position: absolute;
    top: 4rem;
    bottom: 0;
    width: 100%;
    padding: 0;
  }

  .actionbar .actionBarItem {
    position: relative;
    float: left;
    min-width: 4rem;
  }

  .foldercontent {
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding: 0 1rem 1rem;

    .browseritem {
      width: 100%;
      text-align: left;
      margin: 0;
      padding: 0.2rem 1rem;
      border-radius: 0.25rem;
      background-color: color(white);
      color: color(gray_darker);
      overflow-x: hidden;
      white-space: nowrap;

      &:hover {
        .browseritemname {
          color: color(green);
        }
        .browseritemoptions {
          opacity: 1;
        }
      }

      .icon {
        vertical-align: middle;
        color: color(green);
        font-size: 1.5rem;
      }

      .browseritemname {
        color: color(reveal_text);
        font-size: 1rem;
        font-weight: bold;
        margin-left: 1rem;
        overflow-x: hidden;
      }

      .browseritemoptions {
        float: right;
        padding: 0.15rem;
        -webkit-transition: opacity 0.1s ease-in-out;
        -moz-transition: opacity 0.1s ease-in-out;
        transition: opacity 0.1s ease-in-out;
        opacity: 0;

        .button {
          color: color(gray_light);
          background-color: transparent;
          margin: 0;
          padding: 0;
          font-size: 1rem;

          &:hover {
            color: color(reveal_text_hover);
          }
        }
      }
    }
  }
}

#message_popup .content .buttons {
  position: relative;
  text-align: center;

  .button {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.clickedit span {
  font-size: 1.4rem;
}

.clickedit span.fa-pencil {
  margin-left: 0.2rem;
  display: none;
  color: #888;
}

.clickedit input {
  height: 2.1rem;
}

.clickedit:hover span.fa-pencil {
  display: inline;
}



.draggable {
  cursor: move;
}

.selected_module path,
.selected_module rect {
  stroke: #FFCE39 !important;
}


.settings-menu {
  margin: 0 auto 2rem;
  li {
    margin: .2rem auto;


    a {
      padding: .7rem 1.5rem;
      @include round-corners(rounding(large));
      color: color(menu_text);
      background-color: color(menu_background);


      &:hover {
        color: color(menu_text_hover);
        background-color: color(menu_background_hover);

      }

      &.active {
        color: color(menu_text_hover);
        background-color: color(menu_background_hover);

      }
    }
  }
}
