{% extends "app_base.html" %}

{% load custom_tags %}


{% block head_title %}{{ _('Apps') }}{% endblock %}

{% block body_class %}apps{% endblock %}

{% block body %}
	<section class="apps">
		<div class="">
			{% if categories %}
				<div class="apps-available">
					{% for category in categories|dictsort:"index" %}
						<div id="{{ category }}" class="app-category">
							<h3>{{ category }}</h3>
								{% for app in category.apps.all %}
									{% app_button app %}
								{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% else %}
			{% endif %}
			<div class="no-apps-found" style="display: none">
				<h3>{{ _('No apps found.') }}</h3>
			</div>
		</div>
	</section>

{% endblock %}

{% block app_toolbar %}{% endblock %}

{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block app_modals %}{% endblock %}

{% block app_scripts %}
	<script>
		var $apps = $('.app-container');
		var $categories = $('.app-category');

		$('#search').keyup(function() {
			var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

			app_found = function(app) {
				var text = $(app).text().replace(/\s+/g, ' ').toLowerCase();
				return ~text.indexOf(val);
			}
			cat_found = function(cat) {
				var all_apps = $(cat).find('.app-container').length;
				var invis_apps = $(cat).find('.app-container[style="display: none;"]').length;
				var vis_apps = all_apps - invis_apps
				return vis_apps > 0;
			}
			none_found = function() {
				var all_cats = $('.app-category').length;
				var invis_cats = $('.app-category[style="display: none;"]').length;
				var vis_cats = all_cats - invis_cats
				return vis_cats == 0;
			}
			check_none = function() {
				$('.no-apps-found').hide().filter(function() { return none_found(); }).show();
			}
			check_cats = function() {
				$categories.filter(function() { return cat_found(this);	}).show(0, check_none);
				$categories.filter(function() { return !cat_found(this); }).hide(0, check_none);
			}

			$apps.filter(function() { return app_found(this); }).show(200, check_cats);
			$apps.filter(function() {	return !app_found(this); }).hide(200, check_cats);




		});
	</script>
{% endblock %}
