<div class="shrink columns">
  <!-- <div class="spacer"></div> -->
  <a id="btnExpandCollapse" href="#" class="action" data-bind="click: expandCollapse">
    <span class="fa fa-expand"></span><br/>
    <span class="text">{{ _('Expand view') }}</span>
  </a>
</div>
<script>
isFullscreen = false;

expandCollapse = function() {
  if(isFullscreen) {
    $("#btnExpandCollapse .fa").removeClass("fa-compress");
    $("#btnExpandCollapse .fa").addClass("fa-expand");
    $("#btnExpandCollapse .text").html("{{ _('Expand view') }}");
    $("#content_body").removeClass("fullscreen");
  } else {
    $("#btnExpandCollapse .fa").removeClass("fa-expand");
    $("#btnExpandCollapse .fa").addClass("fa-compress");
    $("#btnExpandCollapse .text").html("{{ _('Collapse view') }}");
    $("#content_body").addClass("fullscreen");
  }
  // 2 times needed for the blockly
  window.dispatchEvent(new Event('resize'));
  window.dispatchEvent(new Event('resize'));
  isFullscreen = !isFullscreen;
};
</script>
