{% extends "play_base.html" %}

{% load static %}

{% block head_title %}{{ _('Robot') }}{% endblock %}

{% block topbar_base %}{% endblock %}

{% block body %}
	<div id="virtualModelDiv" >
		<div class="" id="model_screen"></div>
		<div class="robot_sound" style="text-align: center; margin-top: -2rem;"></div>
	</div>
{% endblock %}

{% block app_scripts %}
	<script>
		var virtual_robot = true
    var robot_data  = {{ robot|safe }}
	</script>


	<script src="{% static 'libraries/svg/js/svg.min.js' %}?ver={{ version }}"></script>
	<script src="{% static 'libraries/svg/js/svg.draggable.min.js' %}?ver={{ version }}"></script>
	<script src="{% static 'js/model_minimal.js' %}?ver={{ version }}"></script>

  {% for js_url in robot.js_urls %}<script src="{{ js_url }}?ver={{ version }}"></script>{% endfor %}

{% endblock %}
