{% extends "account/email/email_base.html" %}

{% load i18n %}

{% block title %}{{ _('Personal invitation') }}{% endblock %}

{% block emoji_code %}1f60e{% endblock %}

{% block title_h1 %}{{ _('Personal invitation') }}{% endblock %}

{% block content %}
<p style="color: #555; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: justify; line-height: 1.3; font-size: 16px; margin: 0 0 10px; padding: 0;" align="justify">
  {% blocktrans with site_name=current_site.name %}
  You have been selected to be one of the first users to try out the {{ site_name }} platform!
  <br>
  To get early access and explore our amazing platform, you can click the button below or use <a href="{{ signup_url }}" style="color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; margin: 0; padding: 0;">this link</a>.
  {% endblocktrans %}
</p>

{% endblock %}


{% block button_link %}{{ signup_url }}{% endblock %}
{% block button_text %}Get access{% endblock %}
{# Use if no button is needed {% block button %}{% endblock %} #}

{% block footer %}
  {% include "account/email/_email_footer_unsubscribe.html" %}
{% endblock %}
