{% extends "account/email/email_base.html" %}

{% load i18n %}

{% block title %}{{ _('Your password has been changed') }}{% endblock %}

{% block emoji_code %}1f60e{% endblock %}

{% block title_h1 %}{{ _('Your password has been changed') }}{% endblock %}

{% block content %}
<p style="color: #555; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: justify; line-height: 1.3; font-size: 16px; margin: 0 0 10px; padding: 0;" align="justify">
  {% blocktrans with now=user.account.now %}
  This is the email notification to confirm your password has been changed on {{ now }}.
  {% endblocktrans %}
</p>
{% endblock %}

{# Use if no button is needed
  {% block button_link %}{{ password_reset_url }}{% endblock %}
  {% block button_text %}Reset password{% endblock %}
#}

{% block button %}{% endblock %}

{% block footer %}
  {% include "account/email/_email_footer.html" %}
{% endblock %}
