{% extends "app_base.html" %}
{% load static %}
{% block app_head %}


{% endblock %}

{% block app_toolbar %}
	{% include "_toolbar/_file_operations.html" %}
	{% include "_toolbar/_script_operations.html" %}
	{% include "_toolbar/_expand_collapse.html" %}
{% endblock %}

{% block app_content %}

	<div id="pnlCode" class="hide contentwrapper">
		<pre id="editor"></pre>
	</div>
	<div id="pnlBlockly" class="contentwrapper">
		<table id="blocklyTable">
			<tbody>
				<tr>
					<div id="blocklyArea">
					</div>
				</tr>
			</tbody>
		</table>
		<div id="blocklyDiv"></div>
	</div>
	<div id="console" class="console"></div>

{% endblock %}
{% block app_scripts %}
	<xml id="toolbox" style="display: none">
		<category name="General" id="catGeneral">
			<!-- <block type="general_onsetup"></block> -->
			<!-- <block type="general_onloop"></block> -->
			<!-- <block type="general_onquit"></block> -->
			<block type="general_sleep">
				<value name="TIME">
					<block type="math_number">
						<field name="NUM">2.0</field>
					</block>
				</value>
			</block>
			<!-- <block type="general_seconds"></block> -->
		</category>

		<!-- <category name="Interface" id="catInterface">
			<block type="interface_init"></block>
			<block type="interface_addbutton"></block>
			<block type="interface_addtogglebutton"></block>
			<block type="interface_addkey"></block>
			<block type="interface_addkey2"></block>
			<block type="interface_buttonpress"></block>
			<block type="interface_keypress"></block>
			<block type="interface_is_key_pressed"></block>
			<block type="interface_is_button_pressed"></block>
		</category> -->

		<category name="Robot" colour="" id="catRobot">
			<category name="Sound" id="catSound">
				<block type="sound_saytts"></block>
				<block type="sound_play"></block>
			</category>
			<category name="Dof" id="catDofs">
				<block type="dof_set">
					<value name="VALUE">
						<block type="math_number">
							<field name="NUM">0.5</field>
						</block>
					</value>
				</block>
			</category>
			<!--
			<category name="Hardware" id="catHardware">
				<block type="hardware_ledonoff"></block>
				<block type="hardware_readanalog"></block>
			</category>

			<category name="Servo" id="catServo">
				<block type="servo_set">
					<value name="POS">
						<block type="math_number">
							<field name="NUM">1500</field>
						</block>
					</value>
				</block>
			</category> -->

			<category name="Expression" id="catExpression">
				<!-- <block type="expression_update"></block> -->
				<block type="expression_setekman"></block>
				<block type="expression_setva">
					<value name="VALENCE">
						<block type="math_number">
							<field name="NUM">0.75</field>
						</block>
					</value>
					<value name="AROUSAL">
						<block type="math_number">
							<field name="NUM">0.25</field>
						</block>
					</value>
				</block>
				<block type="expression_setrphi">
					<value name="PHI">
						<block type="math_number">
							<field name="NUM">90</field>
						</block>
					</value>
					<value name="R">
						<block type="math_number">
							<field name="NUM">0.80</field>
						</block>
					</value>
				</block>
			</category>

			<!-- <category name="Touch" id="catTouch">
				<block type="touch_init"></block>
				<block type="touch_etouched"></block>
			</category>

			-->

		</category>

		<sep></sep>

		<category name="Logic" colour="210" id="catLogic">
			<block type="controls_if"></block>
			<block type="logic_compare"></block>
			<block type="logic_operation"></block>
			<block type="logic_negate"></block>
			<block type="logic_boolean"></block>
			<block type="logic_null"></block>
			<block type="logic_ternary"></block>
		</category>

		<category name="Loops" colour="120" id="catLoops">
			<block type="controls_repeat_ext">
				<value name="TIMES">
					<block type="math_number">
						<field name="NUM">10</field>
					</block>
				</value>
			</block>
			<block type="controls_whileUntil"></block>
			<block type="controls_for">
				<value name="FROM">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
				<value name="TO">
					<block type="math_number">
						<field name="NUM">10</field>
					</block>
				</value>
				<value name="BY">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
			</block>
			<block type="controls_forEach"></block>
			<block type="controls_flow_statements"></block>
		</category>

		<category name="Math" colour="230" id="catMath">
			<block type="math_number"></block>
			<block type="math_arithmetic"></block>
			<block type="math_single"></block>
			<block type="math_trig"></block>
			<block type="math_constant"></block>
			<block type="math_number_property"></block>
			<block type="math_change">
				<value name="DELTA">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
			</block>
			<block type="math_round"></block>
			<block type="math_on_list"></block>
			<block type="math_modulo"></block>
			<block type="math_constrain">
				<value name="LOW">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
				<value name="HIGH">
					<block type="math_number">
						<field name="NUM">100</field>
					</block>
				</value>
			</block>
			<block type="math_random_int">
				<value name="FROM">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
				<value name="TO">
					<block type="math_number">
						<field name="NUM">100</field>
					</block>
				</value>
			</block>
			<block type="math_random_float"></block>
		</category>

		<category name="Text" colour="160" id="catText">
			<block type="text"></block>
			<block type="text_join"></block>
			<block type="text_append">
				<value name="TEXT">
					<block type="text"></block>
				</value>
			</block>
			<block type="text_length"></block>
			<block type="text_isEmpty"></block>
			<block type="text_indexOf">
				<value name="VALUE">
					<block type="variables_get">
						<field name="VAR" class="textVar">...</field>
					</block>
				</value>
			</block>
			<block type="text_charAt">
				<value name="VALUE">
					<block type="variables_get">
						<field name="VAR" class="textVar">...</field>
					</block>
				</value>
			</block>
			<block type="text_getSubstring">
				<value name="STRING">
					<block type="variables_get">
						<field name="VAR" class="textVar">...</field>
					</block>
				</value>
			</block>
			<block type="text_changeCase"></block>
			<block type="text_trim"></block>
			<block type="text_print"></block>
			<block type="text_prompt_ext">
				<value name="TEXT">
					<block type="text"></block>
				</value>
			</block>
		</category>

		<category name="Lists" colour="260" id="catLists">
			<block type="lists_create_empty"></block>
			<block type="lists_create_with"></block>
			<block type="lists_repeat">
				<value name="NUM">
					<block type="math_number">
						<field name="NUM">5</field>
					</block>
				</value>
			</block>
			<block type="lists_length"></block>
			<block type="lists_isEmpty"></block>
			<block type="lists_indexOf">
				<value name="VALUE">
					<block type="variables_get">
						<field name="VAR" class="listVar">...</field>
					</block>
				</value>
			</block>
			<block type="lists_getIndex">
				<value name="VALUE">
					<block type="variables_get">
						<field name="VAR" class="listVar">...</field>
					</block>
				</value>
			</block>
			<block type="lists_setIndex">
				<value name="LIST">
					<block type="variables_get">
						<field name="VAR" class="listVar">...</field>
					</block>
				</value>
			</block>
			<block type="lists_getSublist">
				<value name="LIST">
					<block type="variables_get">
						<field name="VAR" class="listVar">...</field>
					</block>
				</value>
			</block>
		</category>

		<category name="Variables" colour="330" id="catVariables" custom="VARIABLE"></category>

		<category name="Functions" colour="290" id="catFunctions" custom="PROCEDURE"></category>
	</xml>

	<script src="{% static 'libraries/blockly/js/blockly_compressed.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/blocks_compressed.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/msg/js/en.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/javascript_compressed.js' %}"></script>
	<!-- Offline compatibility -->
	<script src="{% static 'libraries/blockly/js/lua_compressed.js' %}"></script>

	<script src="{% static 'libraries/js-interpreter/js/acorn_interpreter.js' %}"></script>

<!--
	<script src="{% static 'libraries/blockly/js/custom_blocks/general.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/custom_blocks/interface.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/custom_blocks/sound.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/custom_blocks/hardware.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/custom_blocks/servo.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/custom_blocks/expression.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/custom_blocks/touch.js' %}"></script>
	<script src="{% static 'libraries/blockly/js/custom_blocks/neopixel.js' %}"></script> -->

	<script>
		showAppContent();
		var action_data = {{ actions|safe }};

		var scriptname ={% if script_name %}"{{ script_name }}"
		{% else %}
			null{% endif %};
		var isScriptModified = false;
		var isScriptRunning = false;

		var blocklyArea = document.getElementById('blocklyTable');
	  var blocklyDiv = document.getElementById('blocklyDiv');
		var workspace = Blockly.inject(blocklyDiv, {
			toolbox: document.getElementById('toolbox'),
			grid: {
				spacing: 20,
				length: 1,
				colour: '#555',
				snap: true
			},
			zoom: {
				controls: true,
				wheel: true,
				startScale: 1.0,
				maxScale: 3,
				minScale: 0.3,
				scaleSpeed: 1.2
			},
			trashcan: true
		});
	  var onresize = function(e) {
	    // Compute the absolute coordinates and dimensions of blocklyArea.
	    // var element = blocklyArea;
	    var x = blocklyArea.offsetLeft;
	    var y = blocklyArea.offsetTop;
	    // do {
			// 	console.log(element.offsetTop);
			// 	console.log(element);
	    //   x += element.offsetLeft;
	    //   y += element.offsetTop;
	    //   element = element.offsetParent;
	    // } while (element);
	    // Position blocklyDiv over blocklyArea.

	    blocklyDiv.style.left = x + 'px';
	    blocklyDiv.style.top = y + 'px';
	    blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
	    blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
	  };
		$(document).ready(function() {
	  	window.addEventListener('resize', onresize, false);
		});
		onresize();
	  Blockly.svgResize(workspace);
	</script>


{% endblock %}
{% block app_modals %}

	<div id="ScriptUIModal" class="reveal-modal small" data-reveal>
		<div class="titlebar">
			<a class="close-reveal-modal">
				<span class="fa fa-close"></span>
			</a>
			<span class="fa fa-gamepad"></span>
			Script UI
		</div>
		<div class="content">
			<div id="ScriptUIWrench" style="text-align: center;">
				<span class="fa fa-wrench" style="font-size: 5rem; color: #B2AFA1;"></span><br><br>
				The script has not created any UI elements yet!
			</div>
			<ul id="ScriptUIButtons" class="small-block-grid-4 hide" style="margin-bottom: -1.25rem;"></ul>
			<hr>
			<div id="ScriptUIKeys"></div>
		</div>
	</div>

{% endblock %}
