{% extends "site_base.html" %}

{% load static %}

{% block default_app_styles %}
<link href="{% static 'css/opsoroForum.css' %}" rel="stylesheet">
{% endblock %}

{% block head_title %}Statistics{% endblock %}
{% block body_class %}statistics{% endblock %}

{% block subnav %} {% endblock %}

{% block body %}
<div class="row">
  <div class="small-12 columns">

    <div class="panel panel-default">
      <div class="panel-heading">New preorders{% if preordercount %} <span>({{ preordercount }})</span>{% endif %}</div>
      {% if preorders %}
      <table class="table table-striped">
        <tr>
          <th>email</th>
          <th>name</th>
          <th>product</th>
          <th>date</th>
        </tr>
        {% for order in preorders %}
        <tr>
          <td>{{ order.email }}</td>
          <td>{{ order.name }}</td>
          <td>{{ order.product }}</td>
          <td>{{ order.date }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="panel-body">
        There are no new preorders.
      </div>
      {% endif %}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">New newsletters{% if newslettercount %} <span>({{ newslettercount }})</span>{% endif %}</div>
      {% if newsletters %}
      <table class="table table-striped">
        <tr>
          <th>email</th>
          <th>name</th>
          <th>date</th>
        </tr>
        {% for newsletter in newsletters %}
        <tr>
          <td>{{ newsletter.email }}</td>
          <td>{{ newsletter.name }}</td>
          <td>{{ newsletter.date }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="panel-body">
        There are no new newsletters.
      </div>
      {% endif %}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">New users{% if usercount %} <span>({{ usercount }})</span>{% endif %}</div>
      {% if users %}
      <table class="table table-striped">
        <tr>
          <th>email</th>
          <th>username</th>
          <th>first name</th>
          <th>last name</th>
          <th>date joined</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.date_joined }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="panel-body">
        There are no new users.
      </div>
      {% endif %}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">New feedbacks</div>
      {% if feedbacks %}
      <table class="table table-striped">
        <tr>
          <th>user</th>
          <th>cat</th>
          <th>page</th>
          <th>date</th>
          <th>text</th>
        </tr>
        {% for feedback in feedbacks %}
        <tr>
          <td>{{ feedback.author }}</td>
          <td>{{ feedback.category }}</td>
          <td>{{ feedback.page }}</td>
          <td>{{ feedback.date_created }}</td>
          <td>{{ feedback.text }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="panel-body">
        There are no new feedbacks.
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %} {% block default_app_scripts %}
<!-- <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script> -->
<!-- <script src="{% static "js/bootstrap.min.js" %}"></script> -->
<!-- <script src="{% static "pinax/js/theme.js" %}"></script> -->
{% block extra_script %}{% endblock %}

{% endblock %}

{% block footer %}
{% include "_feedback_submit.html" %}
{% include "_footer_simple.html" %}
{% endblock %}
